* {
    color: rgb(23, 9, 218);
    background-color: rgb(255, 0, 0);
    border: rgb(0, 0, 0);
}
.hello {
    display: flex;
    justify-content: center;
    background-color: rgb(6, 239, 247);
}
.boop {
    display: flex;
    justify-content: center;
    background-color: rgb(6, 239, 247);
}
.name {
    display: flex;
    justify-content: center;
    background-color: rgb(6, 239, 247);
}
.btn {
    display: flex;
    justify-content: right;

}